#header-wrapper{
	background: dodgerblue;
}

#header{
	margin:auto;
	width: 90%;
}
#title{
	float: left;
}

#nav{
	float: right;
}

#message {
	display: inline-block;
	color: white;
}

#subtitle {
	color:white;
	text-align: right;
}

button{
	background: white;
	color:black;
	border-radius:30px;

}
button:hover{
	background: dodgerblue;
	color:white;
}

select, input{
	border-radius:30px;
}

input[type=button] {
	width: 50px;
}

#speed {
  -webkit-appearance: none;
  width: 75px;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  direction: rtl
}

#speed:hover {
  opacity: 1;
}

#speed::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius:30px;
  background: darkblue;
  cursor: pointer;
}

#speed::-moz-range-thumb {
  width: 10px;
  height: 10px;
    border-radius:30px;
  background: #darkblue;
  cursor: pointer;
}

#run:hover{
	
}

#menu a:link {
	color: white;
	text-decoration: none;
}
#menu a:visited{
	color: white;
}
#menu a:hover{
	color: yellow;
}
#menu a:active{
	color: white;
}


#main-wrapper{
	background: #EEEEEE;
	margin: auto;
	width: 90%;
	/*height: 675px;
	*/
	display: flex;
	justify-content: center;
	align-items: center;
}

#main{
	background: white;
}

#footer-wrapper{
	background: dodgerblue;
}

#footer{
	margin:auto;
	width: 90%;
	text-align: center;
}

.grid{
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	height: 675px;
}

.cell{
	border:1px solid black;
	background: dodgerblue;
	font-size: 7px;
	text-align: center;

	/*height: 15px;
	width: 15px;
	*/
	
}


@keyframes visited {
	from {background-color: yellow;}
  	to {background-color: royalblue;}
}

.cell.visited {
	background: royalblue;
	animation-name: visited;
	animation-duration: .3s;
}


.cell.start {
	background: yellow;
}

.cell.end{
	background: red;
}

@keyframes route {
	from {background-color: dodgerblue;}
  	to {background-color: white;}
}

.cell.route{
	background: white;
	animation-name: route;
	animation-duration: .3s;
}

@keyframes current {
	from {background-color: yellow;}
  	to {background-color: red;}
}

.cell.current{
	background: red;
	animation-name: current;
	animation-duration: .3s;
}




.cell.wall{
	background: black;
}

.clearfix {
	overflow: auto;
}


